@import url("https://fonts.cdnfonts.com/css/katherina-signature");
@import url("https://fonts.cdnfonts.com/css/zt-gatha-95306");
body {
  background-image: url(https://images.unsplash.com/photo-1608501773255-d8cd9e5ba968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-attachment: fixed;
  /* Fonts */
  font-family: "ZT Gatha", sans-serif;
  /* Colour sets */
  --main-color: rgba(200,100,20,0.9);
  --main-font-clr: rgba(38, 38, 38, 1);
  --secondary-color: rgba(74, 64, 99, 0.9);
  --secondary-font-clr: rgba(19, 19, 19, 1);
}
body .font-handwritten {
  font-family: "Katherina Signature", sans-serif;
}

/* Menu bar */
.header {
  top: 0;
  position: fixed;
  width: 100vw;
  min-height: 1.9rem;
  margin: auto;
  padding: 0.2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
}
.header a {
  display: inline-block;
  text-decoration: none;
  transition-duration: 0.5s;
}
.header a:hover {
  transform: scale(1.2);
}

/* Landing card */
.landing {
  height: 100vh;
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
}
.landing .block-contents {
  font-size: 1em;
}
.landing .block-contents .landing-main {
  padding: 2em;
  color: var(--main-font-clr);
  background-color: var(--main-color);
  border-radius: 30vw 5vw;
}
.landing .block-contents .landing-name {
  transform: translate(10%, 50%);
  text-shadow: 2px 2px var(--main-font-clr);
  color: white;
  font-size: 3em;
}
.landing .block-contents .landing-image {
  font-size: 5em;
  color: var(--main-color);
  opacity: 0.9;
  text-shadow: 2px 2px var(--secondary-font-clr);
  top: 40vh;
  z-index: -10;
  position: absolute;
}

/* Icon-link pair effects */
.link-btn {
  margin: auto;
  transition-duration: 0.5s;
  display: inline-block;
}
.link-btn i {
  transition-duration: 0.5s;
}

.link-btn:hover {
  -webkit-transform: scale(1.2);
}
.link-btn:hover i {
  transform: translate(-0.2em);
}

/* About */
#about-me > .block-contents {
  display: grid;
  grid-template-areas: "text portrait" "links links";
  grid-template-columns: 2fr 1fr;
}
#about-me > .block-contents .portrait-box {
  grid-area: portrait;
}
#about-me > .block-contents .portrait-box .portrait-img {
  max-width: 100%;
  object-fit: contain;
  -webkit-mask-image: -webkit-radial-gradient(closest-corner, black 0%, black 50%, rgba(0, 0, 0, 0) 70%);
}
#about-me > .block-contents .about-text {
  grid-area: text;
}
#about-me > .block-contents .profile-links {
  grid-area: links;
  margin: auto;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-between;
}

/* Rest of blocks */
.block {
  margin: 10vh auto;
  width: 80vw;
}
.block .block-contents {
  height: inherit;
  padding: 2vw;
  margin: 2vw auto;
}

.text-box {
  margin-bottom: 1.3em;
}

.project {
  display: flex;
  min-height: 15vw;
  width: 60vw;
  margin: auto;
  justify-content: space-between;
}
.project .project-desc {
  margin-left: 2em;
}
.project .project-desc .project-links {
  height: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.project .square {
  margin-top: -2em;
  width: 15vw;
  object-fit: contain;
  max-width: 100%;
}

/* Alternating colours/borders */
#about-me, #software {
  background-color: var(--secondary-color);
  color: var(--secondary-font-clr);
  border-radius: 2vw 5vw;
}
#about-me a, #software a {
  color: var(--main-color);
}

#front-end, #contacts {
  background-color: var(--main-color);
  color: var(--main-font-clr);
  border-radius: 5vw 2vw;
}
#front-end a, #contacts a {
  color: var(--secondary-color);
}